{% extends 'main/base.html' %}
{% block title %}Tech Hive{% endblock %}
{% block content %}
{% load static %}

<section class="hero hero-slider-wrapper">
    <div class="hero-slider hero-slider-style-1">
        <div class="slide">
            <img src="{% static 'images/main/home1.jpg' %}" alt class="slider-bg">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-8 col-sm-9 slide-caption">
                        <h2>We provide the best <span>Course</span>Across Africa</h2>
                        <p>An unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <div class="btns">
                            <a href="#" class="theme-btn">Courses</a>
                            <a href="#" class="theme-btn-s2">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide">
            <img src="{% static 'images/main/home2.jpg' %}" alt class="slider-bg">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-8 col-sm-9 slide-caption">
                        <h1><strong>Farm Hive</strong></h1>
                        <h2>We provide the best <span>Projects</span> Services worldwide</h2>
                        <p>An unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <div class="btns">
                            <a href="#" class="theme-btn">Projects</a>
                            <a href="#" class="theme-btn-s2">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide">
            <img src="{% static 'images/main/home1.jpg' %}" alt class="slider-bg">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-8 col-sm-9 slide-caption">
                        <h2>We provide the best <span>Events</span> Services worldwide</h2>
                        <p>An unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <div class="btns">
                            <a href="#" class="theme-btn">Events</a>
                            <a href="#" class="theme-btn-s2">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <h1 class="hive-header">Farm Hive Department Details</h1>
    <div class="row">
        {% for farm in farms %}
        <div class="col-md-6">
            <div class="card mb-3">
                <img src="{{ farm.videofile.url }}" class="card-img-top" alt="Farm Hive Image">
                <div class="card-body">
                    <h5 class="card-title">{{ farm.name }}</h5>
                    <p class="card-text">{{ farm.description }}</p>
                    <a href=""><button>Add to cart</button></a>
                    <a href=""><button>Buy Now</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}